language: python

sudo: false

env:
    matrix:
        - PYTHON_VERSION=2.7
        - PYTHON_VERSION=3.3 MINIMAL_PACKAGES=yes
        - PYTHON_VERSION=3.4

install:
    - source devtools/travis-ci/install.sh
      # install our package
    - python setup.py install

script:
    # Skip tests that use a lot of memory so Travis doesn't sporadically kill
    # them
    - export PARMED_SKIP_BIG_TESTS=1
    - cd test
    - echo "Using `which python` (`python -V`)::"
    - nosetests -vs .
