language: generic

sudo: false
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++
            - gfortran
            - gromacs

matrix:
  include:
    - { os: linux, env: PYTHON_VERSION=2.7 }
    - { os: linux, env: PYTHON_VERSION=3.5 MINIMAL_PACKAGES=yes }
    - { os: linux, env: PYTHON_VERSION=3.4 }
    - { os: linux, env: PYTHON_VERSION=pypy }
    - { os: osx, env: PYTHON_VERSION=3.4 MINIMAL_PACKAGES=yes }

install:
    - source devtools/travis-ci/install.sh
    - python setup.py install
    - source devtools/travis-ci/runtest.sh
